body {
    font-family: Arial, sans-serif;
    background-image: url('./../images/photo-1652513842544-ca66b676757a.avif'); /* Replace with your background image path */
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.login-container .bat-logo {
    width: 80px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: 100%;
    padding: 2px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.login-container p {
    margin-top: 15px;
}

.login-container p a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}
